<header>
  <h2><span class="logo" (click)="goHome()">Moviemania</span></h2>
</header>
<div class="container">
  <div class="wrapper">
    <aside class="sidebar">
      <mm-side-bar [sideBarMenu]="sideBarMenu"></mm-side-bar>
    </aside>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<footer>
  <div>
    <a href="https://github.com/frankly034" target="_blank">
      <span class="fa fa-github-square"></span>
    </a>
    <a href="https://twitter.com/wizlulu" target="_blank">
      <span class="fa fa-twitter-square"></span>
    </a>
    <a href="https://www.linkedin.com/in/lewis-ugege/" target="_blank">
      <span class="fa fa-linkedin-square"></span>
    </a>
    <a href="https://medium.com/@franklynugege" target="_blank">
      <span class="fa fa-medium"></span>
    </a>
  </div>
  <div class="credits">
    <h3>
      Credits <a href="https://www.themoviedb.org/" target="_blank">TMBD</a>
    </h3>
  </div>
</footer>
