.container {
  display: flex;
  flex-direction: column;
  margin: 0 5rem;
  padding: 0;
}

.container header {
  font-size: 1rem;
  color: #666666;
  padding: 0 1rem;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.sidebar {
  width: 10%;
  flex: 1 100px;
  padding: 1rem;
}

.content {
  width: 90%;
  flex: 9 200px;
  padding: 1rem;
}
