/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.min.css";

*{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

 a:link {
  color: #666666;
}

a:visited {
  color: #666666;
}

a:focus {
  color: #1967d2;
}

a:hover {
  color: #1967d2;
}

a:active {
  color: #1967d2;
}