<div class="card">
  <div *ngIf="!imageLoaded">
    <ngx-skeleton-loader
      [theme]="{
        'border-radius': '5px',
        height: '275px',
        'animation-duration': '2s'
      }"
    >
    </ngx-skeleton-loader>
    <ngx-skeleton-loader> </ngx-skeleton-loader>
    <ngx-skeleton-loader> </ngx-skeleton-loader>
  </div>
  <div *ngIf="imageLoaded">
    <div class="card-image">
      <img src="{{ poasterPath }}" alt="movie poster" />
    </div>
    <div class="card-body">
      <h3 class="card-title">
        <span>{{ movie.title | convertToEllipses }}</span>
        <span>({{ releaseDate.getFullYear() }})</span>
      </h3>
    </div>
    <div class="card-footer">
      <div>
        <span class="fa fa-star" *ngFor="let index of ratingSize"></span>
      </div>
      {{ movie.vote_count }} votes
    </div>
  </div>
</div>
